{% extends "reservedme/base-account.html" %}

{% block title %}Twoje Konto{% endblock %}

{% block content %}



<div>
    <h2>Wybierz hotel do edytowania</h2>
    <div>
        <table>
            <tr>
                <th>Nazwa</th>
                <th>Miasto</th>
                <th>Ulica</th>
                <th></th>
            </tr>
            {% for h in hotele %}

            <tr>
                <td>{{ h.nazwa }}</td>
                <td>{{ h.miasto }}</td>
                <td>{{ h.ulica }}</td>
                <td><input type="button" value="wybierz"></td>
            </tr>
            {% empty %}
            <tr><td colspan="4">Brak hoteli do wyświetlenia.</td></tr>
            <tr><td colspan="4"><a href="{% url 'add_hotel'%}">Dodaj swój pierwszy hotel</a></td></tr>
            
            {% endfor %}

        </table>
    </div>

    <form>
        <select id="guests" name="guests">
            <option value="" disabled selected>Wybierz</option>
            {% for h in hotele %}
                <option value="{{ h.id }}">
                {{ h.nazwa }} {{ h.miasto }} {{ h.ulica }} 
                </option>
            
                
                
                
                <td><input type="button" value="wybierz"></td>
            
            {% empty %}
            Brak hoteli do wybrania.
            <a href="{% url 'add_hotel'%}">Dodaj swój pierwszy hotel</a>
            
            {% endfor %}
        </select>
    </form>


</div>


{% endblock %}