{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <!-- Link do ogólnego stylu CSS -->
    <link rel="stylesheet" href="{% static 'reservedme/css/base-account.css' %}">
    {% block styles %}
    <!-- Możliwość dodania dodatkowych styli CSS -->
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
   
</head>

<body>

    <header>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'ReservedMe/img/logo.png' %}" alt="Logo" height="70px" width="100px">
            </a>
        </div>
        <nav>
            <a href="{% url 'kontakt' %}">Kontakt</a>
            <a href="{% url 'o_nas' %}">O nas</a>
            {% if request.user.is_authenticated %}
                <a>{{ request.user.username }}</a>
                <a href="{% url 'logout_user' %}">Wyloguj się</a>
            {% else %}
                <a href="{% url 'logowanie' %}">Zaloguj się</a>
                <a href="{% url 'rejestracja' %}">Zarejestruj się</a>
            {% endif %}
        </nav>
    </header>

    <div class="aside">
        <div class="nav-bar">
            <a href="{% url 'profile' %}">Moje dane</a>
            <a href="{% url 'hotel_list' %}">Moje hotele</a>
            <a href="{% url 'add_hotel' %}">Dodaj hotel</a>
            <a href="{% url 'manage_rooms' %}">Zarządzaj hotelami</a>
            <a href="{% url 'my_reservations' %}">Moje rezerwacje</a>
            <a href="{% url 'favourite_hotels' %}">Ulubione hotele</a>
        </div>

        <main class="content">
            {% block content %}
            <h1>Witamy!</h1>
            <p>Przykładowa treść</p>
            {% endblock %}
        </main>
    </div>

</body>

</html>