<!-- ReservedMe/templates/ReservedMe/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Strona{% endblock %}</title>

    <!-- Link do pliku CSS Bootstrapa z CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Link do niestandardowego pliku CSS -->
    <link rel="stylesheet" href="{% static 'reservedme/css/navbar.css' %}">
</head>
<body style="background-color: #fee1c7;">
    <header>
        <!-- Nawigacja z użyciem Bootstrapa -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'ReservedMe/img/logo.jpg' %}" alt="Logo" style="height: 40px;">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> 
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'kontakt' %}">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'o_nas' %}">O nas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profil' %}">Profil</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- Treść strony będzie tu wstawiana -->
        {% endblock %}
        <p>
            asdasd
            
        </p>
    </main>

    <!-- Skrypty Bootstrapa -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0FFbM4QXk3dR1bAohT5dZj6F7q+2e1ZzI6yXgwwpPz1u3VvD" crossorigin="anonymous"></script>
</body>
</html>
