{% extends "reservedme/base-account.html" %}

{% block title %}Twoje Konto{% endblock %}

{% block content %}



<div>
    <h1>Lista Hoteli</h1>
    
    <div>
        {% for h in hotele %}
            <div style="border: 1px solid black; width: auto; height: auto;">
                <h2>{{ h.nazwa }}</h2>
                <p>Miasto: {{ h.miasto }}</p>
                <p>Ulica: {{ h.ulica }}</p>
                <p>Kraj: {{ h.kraj }}</p>
                <p>Opis: {{ h.opis }}</p>
                <p>Telefon: {{ h.telefon }}</p>
                <p>Email: {{ h.email }}</p>
            </div>
        {% empty %}
            <p>Brak hoteli do wyświetlenia.</p>
            <p><a href="{% url 'add_hotel'%}">Dodaj swój hotel</a></p>
        {% endfor %}
    </div>
</div>

{% endblock %}