{% extends "reservedme/base-account.html" %}

{% block title %}Twoje Konto{% endblock %}

{% block content %}

<div>
    <table>
        <tr>
            <th>Nazwa</th>
            <th>Miasto</th>
            <th>Ulica</th>
            <th></th>
        </tr>
        {% for h in hotele %}

        <tr>
            <td>{{ h.nazwa }}</td>
            <td>{{ h.miasto }}</td>
            <td>{{ h.ulica }}</td>
            <td>
                <form method="POST" action="{% url 'remove_hotel' %}">
                    {% csrf_token %}
                    <input type="hidden" name="hotel_id" value="{{h.id}}">
                    <input type="submit" value="Usuń">
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Brak hoteli do wyświetlenia.</td>
        </tr>
        <tr>
            <td colspan="4"><a href="{% url 'add_hotel'%}">Dodaj swój pierwszy hotel</a></td>
        </tr>
        {% endfor %}

    </table>
</div>

<!--
<div>
    <h1>Lista Hoteli</h1>
    
    <div>
        {% for h in hotele %}
            <div style="border: 1px solid black; width: 400px; margin: 10px; height: auto;">
                <h2>{{ h.nazwa }}</h2>
                <p>Miasto: {{ h.miasto }}</p>
                <p>Ulica: {{ h.ulica }}</p>
                <p>Kraj: {{ h.kraj }}</p>
                <p>Opis: {{ h.opis }}</p>
                <p>Telefon: {{ h.telefon }}</p>
                <p>Email: {{ h.email }}</p>
            </div>
        {% empty %}
            <p>Brak hoteli do wyświetlenia.</p>
            <p><a href="{% url 'add_hotel'%}">Dodaj swój pierwszy hotel</a></p>
        {% endfor %}
    </div>
</div>
-->

{% endblock %}