{% extends "reservedme/base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'reservedme/css/index.css' %}">{% endblock %}
{% block title %}Strona główna{% endblock %}

{% block content %}
<h2>Zarezerwuj swój pobyt</h2>
<div class="kontener">
<form class="formularz-rezerwacji" method="post" action="#">
    {% csrf_token %}
    <h2>Rezerwacja</h2>

    <div class="grupa-pola">
        <label for="miasto">Miasto</label>
        <input type="text" id="miasto" name="miasto" required>
    </div>

    <div class="grupa-pola">
        <label for="ilosc_osob">Ilość osób</label>
        <input type="number" id="ilosc_osob" name="ilosc_osob" min="1" required>
    </div>

    <div class="grupa-pola">
        <label for="data_zameldowania">Data zameldowania</label>
        <input type="date" id="data_zameldowania" name="data_zameldowania" required>
    </div>

    <div class="grupa-pola">
        <label for="data_wymeldowania">Data wymeldowania</label>
        <input type="date" id="data_wymeldowania" name="data_wymeldowania" required>
    </div>

    <button type="submit" class="przycisk-zatwierdzenia">Zarezerwuj</button>
</form>

</div>
{% endblock %}