{% load static %}
<!DOCTYPE html>
<html lang="pl">
    
<head>
    <meta charset="UTF-8">
        <!-- Link do niestandardowego pliku CSS -->
        <link rel="stylesheet" href="{% static 'reservedme/css/o_nas.css' %}">
    <title>O nas</title>
</head>
<body>
    <header>
        <div class="logo"><img src="{% static 'ReservedMe/img/logo.png' %}" alt="Logo" height="70px" width="100px"></div>
        <nav>
            <a href="{% url 'kontakt' %}">Kontakt</a>
            <a href="{% url 'o_nas' %}">O nas</a>
            <a href="{% url 'logowanie' %}">Zaloguj się</a>
        </nav>
    </header>
    <h1>Strona w trakcie budowy</h1>

</body>
</html>
