{% extends "reservedme/base.html" %}

{% block title %}O nas{% endblock %}

{% block content %}
<h2>Numer telefonu : 123 456 789</h2>
<h2>Adres e-mail : <a href="mailto:reservedme@gmail.com" style="color: rosybrown;">reservedme@gmail.com</a></h2>
Na wiadomości e-mail odpowiemy do 3 dni
<h2>Godziny w ktorych można kontaktować się telefonicznie :</h2>
<ul>
    <li>Pon: 8:00-15:00</li>
    <li>Wt: 8:00-15:00</li>
    <li>Śr: 8:00-15:00</li>
    <li>Czw: 8:00-15:00</li>
    <li>Pt: 8:00-15:00</li>
    <li>Sob: -</li>
    <li>Niedz: -</li>
</ul>

<h2>Adres: ul. Rakowicka 27, 31-510 Kraków</h2>
<div style="text-align:right; position: absolute; top: 120px; right: 0;">
<iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.9464307331723!2d19.95253981259838!3d50.
06856487140309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b1eec963ba1%3A0x128f85b29388690a!2sUniwersytet%20Ekonomiczny%20w%20Krakowie!5e0!
3m2!1spl!2spl!4v1745474807978!5m2!1spl!2spl"
width="700"
height="500"
style="border:0;"
allowfullscreen=""
loading="lazy"
referrerpolicy="no-referrer-when-downgrade">
</iframe>
</div>
{% endblock %}