{% extends "reservedme/base.html" %}

{% block title %}Twoje Konto{% endblock %}

{% block content %}


<div class="profile_test">
    <ul>
    <li><a href="{% url 'profile' %}">Moje dane</a></li>
    <li><a href="{% url 'add_hotel' %}">Dodaj hotel</a></li>
    <li><a href="{% url 'add_room' %}">Dodaj pokoje</a></li>
    <li><a href="{% url 'my_reservations' %}">Moje rezerwacje</a></li>
    <li><a href="{% url 'favourite_hotels' %}">Ulubione hotele</a></li>
    </ul>
</div>>

<div style="background-color: aquamarine;">
    <p>Moje rezerwacje</p>
</div>
<style>
.profile_test{
    background-color: aqua;
    height: 500px;
    width: auto;
    font-size: 16px;

};


</style>
{% endblock %}