{% load static %}
<!DOCTYPE html>
<html lang="pl">
    
<head>
    <meta charset="UTF-8">
        <!-- Link do niestandardowego pliku CSS -->
        <link rel="stylesheet" href="{% static 'reservedme/css/o_nas' %}">
    <link rel="logo" href=”logo12.jpg” type=”jpg”> 
    <title>O nas</title>
</head>
<body>
    <header>
        <div class="logo"><img src="logo1.jpg" alt="Logo" width="100" height="70"></div>
        <nav>
            <a href="kontakt.html">Kontakt</a>
            <a href="test.html">O nas</a>
            <a href="logowanie.html">Zaloguj się</a>
        </nav>
    </header>
    <div class="tekst">
    <h3>O nas – ReservMe</h3>
            ReservMe to nowoczesna platforma rezerwacyjna, która powstała z pasji do podróży oraz potrzeby uproszczenia procesu znajdowania idealnego miejsca na nocleg.
             Naszym celem jest stworzenie przestrzeni, w której planowanie podróży staje się szybkie, intuicyjne i całkowicie bezstresowe – bez ukrytych kosztów, bez skomplikowanych 
             formularzy i bez niepotrzebnych pośredników.
            Dopiero rozpoczynamy działalność, ale już teraz współpracujemy z rosnącą liczbą hoteli i pensjonatów, by zaoferować naszym użytkownikom coraz szerszą bazę sprawdzonych
             miejsc noclegowych – zarówno w dużych miastach, jak i w zacisznych zakątkach natury.
             ReservMe jest dla każdego! Dla osób podróżujących prywatnie i służbowo, dla rodzin planujących wakacje, dla par szukających romantycznego wypadu,
              a także dla tych, którzy rezerwują na ostatnią chwilę. Dzięki naszej elastycznej ofercie i dynamicznie rozwijającej się bazie hoteli,
               każdy znajdzie coś dla siebie.



        <h3> Dlaczego ReservMe?</h3>
        <ul> <li>Prostota – nasza platforma została zaprojektowana tak,aby każdy mógł z niej korzystać bez wysiłku – niezależnie od wieku czy doświadczenia technicznego. 
                Wyszukujesz → wybierasz → rezerwujesz.</li>
            <li>Przejrzystość – pokazujemy prawdziwe ceny i uczciwe opinie. U nas nie ma ukrytych opłat ani marketingowych sztuczek.</li>
            <li>Elastyczność – rezerwuj noclegi z dowolnego miejsca, o każdej porze – z poziomu komputera, tabletu czy smartfona.</li>
            <li>Bezpieczeństwo – dbamy o Twoje dane i zapewniamy bezpieczne formy płatności. Twoje zaufanie to nasz priorytet.</li>
        </ul>
        <h3> Nasza wizja</h3>
            Chcemy stać się jedną z najbardziej zaufanych i przyjaznych użytkownikowi platform rezerwacyjnych w Europie – a z czasem również na świecie. Budujemy społeczność podróżników,
            którzy dzielą się opiniami, inspiracjami i pomagają sobie nawzajem odkrywać wyjątkowe miejsca.


    </div>
</body>
</html>
