/* static/reservedme/css/navbar.css */
/* !important - sprawia że style mają wyższy priorytet niż domyślne style bootstrapa */
.navbar {
    background-color: #FB9D4B !important;  /* Zmieniamy kolor tła */
}

.navbar .navbar-brand {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.navbar-nav .nav-link {
    color: white; /* Kolor tekstu nawigacji */
    font-weight: bold;
    border-radius: 10px;
}

.navbar-nav .nav-link:hover {
    color: yellow; /* Kolor tekstu po najechaniu */
    background-color: #72D8FE; /* Kolor tła po najechaniu */
}

.nav-item {
    margin-left: 20px;
}

